<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name = "viewpoint" content = "width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message">
        <div class="ui container">

            <br>
            <br>
            <br>
            <br>

       <h2>
           404 Forbidden
       </h2>
            <br>
            <br>
            <br>
            <br>
            <p>Sorry, the page does not exist. </p>
        </div>
    </div>
</div>
</body>

<footer th:replace="_fragments :: footer" class = "ui inverted vertical segment m-padded-tb-massive ">


</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function (){
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>